---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: "Rosso Consulting",
};
---

<Layout {meta}>
  

  <!-- Hero2 Widget ******************* -->

  <Hero2
    callToAction2={{ text: 'Contact Us', href: 'mailto:info@rossoconsulting.com' }}
    image={{ src: import('~/assets/images/hero.jpg'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Rosso Consulting
    </Fragment>

    <Fragment slot="subtitle">
      																												
			<p>Portsmouth, Virginia | Veteran Owned</p>	<br />	
		<p>Rosso Consulting takes the Risk Management Framework process based on existing standards, guidelines, and practices for organizations to better manage and reduce cybersecurity risk.</p>		
			<br />
		<p>Rosso Consulting customizes the RMF Framework to best suit your risks, situations, and needs.</p><br />	
    Most Projects have unique risks – different threats, different vulnerabilities, different risk tolerances – and how they implement the practices in the Framework to achieve positive outcomes will vary. </p><br />
    <p>Rosso Consulting takes the Framework and implements customized checklists approach for all critical infrastructure, Applications or Systems.</p><br />	
    <p>We help your project manage and reduce risks, and foster risk and cybersecurity management communications amongst both internal and external organizations.</p><br />	
    <p>The goal is to be authorized to operate securely with minimized risk and we make it happen.</p><br />	
    <p>We specialize in Department of the Navy Certifications.</p><br />	
    <p>Our staff is made up of Subject Matter Experts (SME) in all areas of RMF/Testing and the process.</p>
			<br />	
      
    </Fragment>
  </Hero2>

  
</Layout>
